@import 'font.css';

:root{
    --primary-font-face: 'Montserrat';
    --secondary-font-face:'Trebuched';
    --primary-text-color: #323232;
    --secondary-text-color:#FFFFFF;
    --primary-background:#FFFFFF;
    --secondary-background:#7177F1;
    --primary-title-color:#7177F1;
    --secondary-title-color:#FFFFFF;
    --secondary-title-color-alt:#151437;
    --primary-link-color:#7177F1;
    --secondary-link-color:#FFFFFF;
}

body{
    background: var(--primary-background);
    font-family: var(--primary-font-face);
    color: var(--primary-text-color);
}



.logo::before{
    content: url(../images/logo-light.png);
}

.header__link{
    color: var(--primary-link-color);
    margin: 15px;
    font-size: 24px;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.5s color;
    display: block;
}

.header__link:hover{
    color: var(--secondary-text-color);
}

.header__button{
    height: 40px;
    width: 190px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-link-color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 24px;
    transition: 0.5s color, 0.5s background;
    margin-left: 15px;
    margin-right: 60px;
}

.header__button:hover{
    color: var(--primary-link-color);
    background: var(--primary-background);
}

.header__tel{
    color: var(--primary-link-color);
    font-size: 25px;
    transition: 0.5s color, 0.5s text-shadow;
}


.header__tel:hover{
    color: var(--secondary-link-color);
    text-shadow: 0 0 15px;
}

.header__toggler {
     color: var(--primary-text-color);
     font-size: 35px;
}

.header__toggler:focus {
    box-shadow: none;

}

.intro__subtitle {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
}

.intro__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.25;
    text-transform: capitalize;
    color: var(--primary-title-color);
    margin-bottom: 25px;
}

.intro__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 45px;
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary-link-color);
    transition: 0.5s background, 0.5s color;
    margin-bottom: 50px;
}

.intro__button:hover {
    background: var(--primary-background);
    color: var(--primary-link-color);
}

.intro__logo {
    max-width: 100%;
    margin-bottom: 15px;
}

.intro__logo_svg {
    height: 90px;
    color: sandybrown;
}

.intro__name {
    color: var(--primary-title-color);
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.intro__image {
    max-width: 100%;
}

.intro__indicators {
    display: flex;
    justify-content: center;
    position: static;
    margin: 0;
    margin-top: 50px;
}

.intro__indicators .carousel__dot {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: none;
    outline: none;
    background: #ebebeb;
    /* margin: 0 15px; */
    transition: 0.5s background;
    opacity: 1;
}

.carousel__dot.active {
    background: #7177F1;
}